<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Style.css">
    <title>Instalaciones Tecnóilogicas Aplícadas</title>
</head>
<body>
    <div class="portafolio">
        <header>
            <nav>
                <h3 class="logo">Grupo Intecsa</h3>
                <h3 class="logo">Menú</h3>
            </nav>
            <main class="empresa">
            <div class="info">
                <section>
                    <img alt="logo de la empresa" src="../img/italogo.svg">
                    <hr>
                    <h2>Soluciónes Integrales</h2>
                    <p>
                        Instalaciones Tecnológicas Aplicadas S. A. de C. V.  parte de GRUPO INTECSA:</br>
                        es una empresa dedicada a la instalación, planeación, construcción y mantenimiento de Centros Comerciales y Tiendas Departamentales especializada en proyectos electromecánicos cuyos servicios se extienden a todo el mercado nacional.
                    </p>
                <div class="galeria">
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img src="../img/galeria_foto.png" alt="foto de galeria"/>
                    <img class="galeria--bnt" src="../img/galeria_mas.svg" alt="foto de galeria"/>
                </div>
                </section>
            </div>
            <section class="menubutom">
                <img src="../img/itabutton.svg" alt="icono instalaciones tecnologicas aplicadas">
                <img src="../img/ico_industrial.svg" alt="icono industrial connect">
                <img src="../img/ico_canaliza.svg" alt="icono calizacion">
                <img src="../img//ico_eguel.svg" alt="icono Eguel">
                <img src="../img/ico_tenica.svg" alt="icono tecnica">
                <img src="../img/ico_padnet.svg" alt="padnet">                
            </section>
            </main>
        </header>
    </div>
    
</body>
</html>