/* Elimina todos los border */
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: radial-gradient( rgb(1, 54, 107, 81.36%), rgb(1, 54, 104, 100%));
  /* background-repeat: no-repeat; */
  background-size: cover; 
}

/* navbar */

nav{
  padding-top: 10rem;
  height: 10vh;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  color: white;

}

/* navbar */

body{
  font-family: PopBlod;
}

.portafolio{
  color: white;
  /* background: radial-gradient(rgba(1,54,107,77), rgba(1,54,104,100)); */
  overflow: hidden;
}

/* logo cotniene los estilos de letras para los botones */

.logo{
  font-size: 22px;
  font-family: PopBlod;
}

.page{
   min-height: 90vh;
   display: grid;
   grid-template-columns: 5% 1fr, 1fr, 1fr 10% ;
}

.hero{   
   overflow: hidden;
   height: auto;
   align-self: center;
   justify-self: center;
   display: flex;
}

.hero img{
   height: 100%;
   transition: transform 0.3 ease-out;
   cursor: pointer;
   
}

.model--right{
   transform: translate(0%, 10%);
}

.model--left{
   transform: translate(0%, -10%);
}

.hero:hover > .model--right{
   transform: translate(0%, 0%);
}

.hero:hover > .model--left{
   transform: translate(0%, 0%);
}

/* ESTILOS DE SITIO INSTALACIONES TECNOLOGICAS APLICADAS */

.empresa{
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-direction: row;
   height: 100%;
   padding-top: 3rem;
   padding-left: 2rem;
}

/* div info cotiene logo, descripcion titulo e imagenes*/
.info{
   width: 80vh;
   height: 100%;
   background: linear-gradient(to left, rgba(252,252,252,32%), rgba(252,252,252,100%));
   padding: 2rem;
   color: black;
   border-radius: 26px;
}

.info > section > img{
   width:  20%;
   padding-bottom: 1rem;
}

.info > section > h2{
   width: 100%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: left;
}

hr{
   margin-bottom: 0.1rem;
   border: 0;
   height: 1px;
   text-align: center;
   bottom: 2rem;
   background: linear-gradient(to left, rgba(255, 255, 255, 50%), rgba(1,1,1,50%), rgba(184, 198, 212, 100% ));
}

.info > section > p{
   font-family: PopRegular;
   text-align: left;
   width: 100%;
   height: 30%;
   padding-bottom: 0.8rem;

}

.info--listas{
   font-family: PopRegular;
   display: list-item;
   line-height: 1.8rem;

}


.galeria{
   display: flex;
   flex-direction: row;
   justify-content: initial;
   flex-wrap: wrap;
   width: 100%;
   padding-top: 0.8rem;
   padding-bottom: 3rem;
   align-items: center;  
}

.galeria > img {
   padding: 0.3rem;
}

.galeria--bnt{
   fill: #B6C5D3;
   height: 3rem;
}

/* botonera */
.menubutom{
   display: flex;
   flex-direction: column;
   padding-left: 1rem;
}

.menubutom > img {
   padding-bottom: 1rem;
}

.material--button{
   width: 100%;
   padding-bottom: 0.5rem;
}


/*  STILOS DE NAV PRINCIPA DROPEABLE */
.menu--drop{
   border: solid 1px powderblue;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 301px;
   background-color: rgb(255, 255, 255);
   color: black;
}

.menudrop--superiror{
   width: 90%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 0.3rem;

}

.menudrop--medio{
   width: 100%;
   padding-top: 2rem;
   padding-bottom: 1rem;
   display: flex;
   justify-content: space-around;
   margin-left: 3rem;

}

.mdrop{
   width: 100%;
   display: flex;
   justify-content: space-around;   
}

.mdrop--menu > img{
   margin-left: 0.3rem
}

.video--size{
   /* padding: 0.8rem; */
   margin-top: 0.8rem;
   margin-bottom: 0.8rem;
   width: 100%;
   height: 35vh;
}


/* modal module */
.modal--backdrop{
   position: fixed;
   padding-top: 5rem;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.849);
   z-index: 10;
}

.modal--backdrop > img{
   display: block;
   max-width: 60%;
   max-height: 80%;
   margin: 60px auto;
   top: 30rem;
   box-shadow: 3px 5px 7px rgb(0,0,0,0.5);
   border: solid 3px white;
}

.modal--menu{
   position: fixed;
   display: flex;
   justify-content: center;
   padding-top: 3rem;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 11;
}

.modal--menu > button{
   height: 40px;
   width: 120px;
}


/* FORMULARIO DE CONTACTO*/
.modal--form--backdrop{
   padding-top: 10rem;
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.795);
   color: white;
}

.container--form--main{
   display: flex;
   align-items: center;
   flex-direction: column;

   padding: 0.8rem;
   margin: 0.3rem;
   width: 40vh;
   background: white;
   color: black;
   border-radius: 10px;
   border: rgb(47, 62, 199) 2px solid 2px;
}


.container--form--main > h2{
   text-align: end;
   width: 100%;
   padding-right: 0.8rem;
   color: rgb(37, 105, 206);
}

.container--form--input {
   border: none;
   outline: none;
   box-shadow: 0px 0px 2px  rgb(187, 187, 187);
   margin: 0.8rem;
   background: rgb(250,250,250);
   padding-left: 1rem;
   font-size: 1rem;
   font-family: PopRegular;
   height: 3rem;
   width: 35vh;
}

.container--form--input--error {
   
   border: none;
   outline: none;
   box-shadow: 0px 0px 2px  rgb(187, 187, 187);
   margin: 0.8rem;
   background: rgba(245, 4, 4, 0.26);
   padding-left: 1rem;
   font-size: 1rem;
   font-family: PopRegular;
   height: 3rem;
   width: 35vh;
}

.form--box--msg{
   border: none;
   outline: none;
   box-shadow: 0px 0px 2px  rgb(187, 187, 187);
   margin: 0.8rem;
   background: rgb(250,250,250);
   padding: 0.3rem;
   font-size: 1rem;
   font-family: PopRegular;
   width: 35vh;
   resize: none;
   height: 10rem;
}

.btn--submit--contact{
   margin: .5em;
   padding: .7em 1.5em;
   font-family: PopBlod;
   color: white;
   background-color: rgb(37, 105, 206);
   border: 2px solid rgba(112,111,211,0);
   border-radius: 8px;
   outline: none;
   cursor: pointer;
   transition: 0.3ms;
   width: 8rem;
}

.btn--submit--contact:focus{
   background-color: rgb(14, 44, 177);   
}


/* COMO QUE LOS BASICOS */

button{
   border: none;
   outline: none;
   background: none;
}

button:focus{
   box-shadow: 0px 0px 2px  rgb(40, 124, 163);
}

.error{
   padding-left: 1em;
   color: red;
   font-family: PopRegular;
}

.center--into--divs{
   display: flex;
   justify-content: center;
}

.padding--left{
   padding-left: 3rem;
}

@font-face{
  font-family: PopBlod;
  src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face{
  font-family: PopRegular;
  src: url('./assets/fonts/Poppins-Regular.ttf');
}